$lightwhite: #FFFAFA;
$navyblue: #082C50;
$gray: #676767;
$gray_light: #ECEEF4;
$black: #000000;
$lightgray: #ECEEF4;
$yellow:#F4B937;
$lightgreen: #DBF1E7;
$lightblue: #DEEBFB;
$lightskin: #FCF3DE;
$lightestblue: #F8F7F7;
$red : #DA342A;
$lightgreen: #26E78A !important;
$gray_fill: rgba(118, 118, 128, 0.12);